
nav{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 72px;
}

ul{
display: flex;
gap: 24px;
list-style: none;
}


button{
all: unset;
padding: 6px 16px;
background: red;
height: 32px;
color: white;
font-weight: 31.25rem;
}

a{
  color: black;
 text-decoration: none;
}

.Left-section{
  display: flex;
  gap: 2px;
  width: 60%;
  
}

.hero-main{
  display: flex;
  width: 100%;
}

.right-Section{
  width: 40%;
}

.Left-section div div{
  display: flex;
  justify-content: space-around;

}


.Left-section img{
  width: 250px;
  height: 250px;
  margin-left: 2vw;
}

#local{
  margin-left: 3vw;
  margin-top: 2vw;
  height: 40vh;
}

#hotels{
   margin-top: 3vw;
   height:40vh ;
   margin-left: 7vw;
}

#fort{
  margin-top: 12vh;
  height:65vh;
  margin-left: 0vw;
}

#food{
  height: 40vh;
  margin-left: 5vw;
}

#street{
  height: 40vh;
}

.exp{
  margin-top: 12vh;
  height:65vh;
  margin-left: 0vw;
  
}

.exp-pg{
  display: flex;
  gap: 10vw;
  justify-content: center;
  align-items: center;
}

.exp-pg-subdiv{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Search-guide-left{
  display: flex;
  gap: 4vw;
}

#person-1{
  margin-top: 5vw;
  height: 60vh;
  margin-left: 1vw;
}
#person-2{
  height: 30vh;
  margin-left: 5vw;

}


input{
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.img-cont-search-sec{
  margin-left: 1vw;
  margin-top: 3vw;
}

.exp-img-3{
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.exp-main{
  display: flex;
}

.hero-main-section{
  width: 100%;
}