@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Merienda:wght@300..900&family=Poppins:wght@300&display=swap');


nav{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 72px;
}

ul{
display: flex;
gap: 24px;
list-style: none;
}


button{
all: unset;
padding: 6px 16px;
background: red;
height: 32px;
color: white;
font-weight: 500;
}

a{
  color: black;
 text-decoration: none;
}

.Left-section{
  display: flex;
   width: 60%;
   align-items: center;
  
}

.hero-main{
  display: flex;
  width: 100%;
}

.right-Section{
  width: 40%;
  text-align: center;
}

.Left-section div div{
  display: flex;
  justify-content: space-around;

}


.Left-section img{
  width: 250px;
  height: 250px;
 
}

#local{
  margin-left: 3vw;
  margin-top: 2vw;
  height: 40vh;
}

#hotels{
   margin-top: 3vw;
   height:40vh ;
   margin-left:2vw;
}

#fort{
  margin-top: 12vh;
  height:65vh;
  margin-left: 5vw;
}

#food{
  height: 40vh;
  margin-left: 3vw;
}

#street{
  height: 40vh;
}

.exp{
  margin-top: 12vh;
  height:65vh;
  margin-left: 0vw;
  
}

.exp-pg{
  display: flex;
  gap: 10vw;
  justify-content: center;
  align-items: center;
}

.exp-pg-subdiv{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.Search-guide-left{
  display: flex;
  gap: 4vw;
}

#person-1{
  margin-top: 5vw;
  height: 60vh;
  margin-left: 1vw;
}
#person-2{
  height: 30vh;
  margin-left: 5vw;

}


input{
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.img-cont-search-sec{
  margin-left: 1vw;
  margin-top: 3vw;
}

.exp-img-3{
  margin-top: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.exp-main{
  display: flex;
}

.hero-main-section{
  width: 100%;
}

.line-1{
  font-size: 70px;
  margin: 0;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.line-2{
  font-size:40px ;
  margin: 0;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.line-3{
  font-size: 70px;
  margin: 0;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.slogan-box{
  margin-top: 5vw;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.searchBox {
  display: flex;
  max-width: 300px;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  background: #2f3640;
  border-radius: 50px;
  position: relative;
}

.searchButton {
  color: white;
  position: absolute;
  right: 8px;
  width: 25px;
  height: 30px;
  margin-left: 10px;
  margin-top:-1.4vw;
  border-radius:0%  50% 50% 0;
  background: var(--gradient-2, linear-gradient(90deg, #2AF598 0%, #009EFD 100%));
  border: 0;
  display: inline-block;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

button:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.5) 0 10px 20px;
  transform: translateY(-3px);
}

button:active {
  box-shadow: none;
  transform: translateY(0);
}

.searchInput {
  border: none;
  background: none;
  outline: none;
  color: white;
  font-size: 15px;
  padding: 24px 46px 24px 26px;
}

.slogan-box h3{
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;

  font-style: normal;
}