

.profile-page {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .profile-header {
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid black;
  }
  
  .profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  h1 {
    margin: 0;
  }
  
  .follow-button {
    background-color: #28a745;
  }
  
  .user-info {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .achievements {
    display: flex;
    justify-content: center;
  }
  
  .achievements img {
    width: 50px;
    height: 50px;
    margin: 0 10px;
  }
  